.add {
    margin: -42px 0 10px 100px;
    float: right;
}
.user-actions {
    cursor: pointer;
    margin: 0 5px;
}
.edit:hover {
    color: rgb(34, 136, 9);
}
.delete:hover {
    color: rgb(255, 0, 0);
}