<div class="global">
  <nav class="mainNav shadow">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
  
              <a class="nav-link" *ngFor="let menuItem of menuItems" [routerLink]="[menuItem.path]">
            <i class="{{menuItem.icon}}"></i>
            {{menuItem.title}}</a>
            </li>
            
          </ul>
  
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Saved reports</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Current month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Last quarter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Year-end sale
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="groupRight">
    <nav class="navtop ">
      <a class="" href="#">Company name</a>
      
      <ul class="sidenav ">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>
    
        <main class="">
      
  <ng-content></ng-content>
  <p>  vxcvxcvdas dasd saasd </p>
        </main>
</div>
  </div>
  
