 <form [formGroup]="formUser" > <!-- (ngSubmit)="enviar()"> -->
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="name" class="form-control" name="firstname" formControlName="firstname" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Sobrenome</label>
      <input type="name" class="form-control" name="lastname" formControlName="lastname" placeholder="Sobrenome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" formControlName="email" placeholder="E-mail">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Telefone</label>
      <input type="phone" class="form-control" name="phone" formControlName="phone" placeholder="Telefone">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="Select1">Tipo de usuário</label>
      <select class="form-control" id="elect1" name="level" formControlName="level">
        <option value="4">Apenas voluntário</option>
        <option value="3">Editor</option>
        <option value="2">Gerente</option>
        <option value="1">Master</option>
      </select>
    </div>
    <div class="form-group">
      <label for="filePhoto">Foto</label>
      <!-- <input type="file" class="form-control-file" id="filePhoto" name="photo" formControlName="photo" (change)="getBase64($event)"> -->
      <!-- <input (change)="onSubmit($event)" type="file" accept=".png, .pdf, .jpg, .jpeg"> <br> -->
      <file-upload formControlName="photo"></file-upload>
    </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" (click)="onSubmit($event)" class="btn btn-primary">Submit</button>
  </form>
