<form [formGroup]="formUser" > <!-- (ngSubmit)="enviar()"> -->
  <input type="hidden" class="form-control" name="id" formControlName="id">

    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="name" class="form-control" name="firstname" formControlName="firstname" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Sobrenome</label>
      <input type="name" class="form-control" name="lastname" formControlName="lastname" placeholder="Sobrenome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">E-mail</label>
      <input type="email" class="form-control" name="email" formControlName="email" placeholder="E-mail">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Telefone</label>
      <input type="phone" class="form-control" name="phone" formControlName="phone" placeholder="Telefone">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Senha">
    </div>
    <div class="form-group">
      <label for="Select1">Tipo de usuário</label>
      <select class="form-control" id="elect1" name="level" formControlName="level">
        <option *ngFor="let level of levels; let i=index" value="{{level.id}}">{{level.title}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="filePhoto">Foto</label>
      <!-- <input type="file" class="form-control-file" id="filePhoto" name="photo" formControlName="photo" (change)="getBase64($event)"> -->
      <!-- <input (change)="onSubmit($event)" type="file" accept=".png, .pdf, .jpg, .jpeg"> <br> -->
      <file-upload formControlName="photo"></file-upload>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" formControlName="enabled" class="form-check-input" [checked]="true" id="enabled">
      <label class="form-check-label" for="enabled">Ativo</label>
    </div>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
  </form>
