<div class="nav-page">
  <span class="link" (click)="openChangePass()" *ngIf="selectedUser.id === activeUser.id">Alterar minha senha</span> 
</div>
<form [formGroup]="formUser" *ngIf="!openedChangePass"> <!-- (ngSubmit)="enviar()"> -->
  <input type="hidden" class="form-control" name="id" formControlName="id">

    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="name" class="form-control" name="firstname" formControlName="firstname" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Sobrenome</label>
      <input type="name" class="form-control" name="lastname" formControlName="lastname" placeholder="Sobrenome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">E-mail</label>
      <input type="email" class="form-control" name="email" formControlName="email" placeholder="E-mail">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Telefone</label>
      <input type="phone" class="form-control" name="phone" formControlName="phone" placeholder="Telefone">
    </div>
    <div class="form-group">
      <label for="Select1">Tipo de usuário</label>
      <select class="form-control" id="elect1" name="level" formControlName="level">
        <option *ngFor="let level of levels; let i=index" value="{{level.id}}" >{{level.title}}</option>
      </select>
    </div>
    <!-- <div class="form-group">
      <label for="filePhoto">Foto</label>
      <file-upload formControlName="photo"></file-upload>
    </div> -->
    <div class="form-group form-check">
      <input type="checkbox" formControlName="enabled" class="form-check-input" [checked]="isChecked" id="enabled">
      <label class="form-check-label" for="enabled">Ativo</label>
    </div>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block">Enviar</button>
  </form>


  <form [formGroup]="formChangePass" *ngIf="openedChangePass"> 
    <input type="hidden" class="form-control" name="id" formControlName="id">
  
      <div class="form-group">
        <label for="exampleInputEmail1">Senha Atual</label>
        <input class="form-control" type="password" placeholder="Senha Atual" formControlName="oldPassword" [ngClass]="{'is-invalid': !formChangePass.controls.oldPassword.valid && formChangePass.controls.oldPassword.touched}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nova Senha</label>
        <input class="form-control" type="password" placeholder="Nova Senha" formControlName="password" [ngClass]="{'is-invalid': !formChangePass.controls.password.valid && formChangePass.controls.password.touched}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Repita a Nova Senha</label>
        <input class="form-control" type="password" placeholder="Repita a Nova Senha" formControlName="repeatPassword" [ngClass]="{'is-invalid': !formChangePass.controls.repeatPassword.valid && formChangePass.controls.repeatPassword.touched}">
      </div>
            <button type="submit" (click)="submitChangePass()" class="btn btn-primary btn-block" [disabled]="!formChangePass.controls.repeatPassword.valid || !formChangePass.controls.password.valid || !formChangePass.controls.oldPassword.valid">Enviar</button>
    </form>

    <div class="loading" *ngIf="loading">
      <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
      </div>
      </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{message}}
  </div>
  <div *ngIf="erroEnvio" class="alert alert-danger" role="alert">
      {{message}}
  </div>
