@import './vars';
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}


h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

  

  @import url("./assets/fontawesome/css/all.min.css")